body {
    font-family: 'Roboto', sans-serif;
    background: #efefef;
    color: #333;
}

h1,h3 {
	text-align: center;
	color: #787878;
}

#spotNumber
{
	width: 30%;
	padding: 9px;
	font-size: 16px;
}

#lot
{
	width: 30%;
	padding: 9px;
	font-size: 16px;
}

#save
{
	width: 10%;
	padding: 9px;
	font-size: 16px;
<<<<<<< HEAD
}
=======

}
>>>>>>> f7aebd228726da9841de5c08b2a7d475813c5cb9
