@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto+Condensed');
.html {
  height: 100%;
  width: 100%;
}

.body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 85px;
  left: 0px;
  background-color: #2c3b41;
  color: #4b646f;
  overflow-x: hidden;
  border-right: 1px solid #656565;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .20);
}

.sidebar a {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #2c3b41;
  color: #b8c7ce;
  display: block;
  padding: 15px 12px 15px 20px;
  text-decoration: none;
  text-align: left;
}

.sidebar a:hover {
  background-color: #1a2226;
  color: white;
  border-left: 3px solid #b8c7ce;
  padding: 15px 12px 15px 17px;
}

.sidebar a.active {
  background-color: #1a2226;
  color: white;
}

#header {
  position: fixed;
}

.header {
  background-color: #600;
  margin: 0 auto;
  height: 85px;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, .20);
}

.header img {
  margin: 20px 0 0 20px;
  width: 304px;
  height: 45px;
}

.logo {
  float: left;
}

.accountbar {
  font-family: 'Roboto Condensed', sans-serif;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  color: #FFF;
  cursor: pointer;
}

.dropdown-content {
  margin-top: 40px;
  margin-right: 10px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd
}

.show {
  display: block;
}

.profilepicture {
  float: left;
}

.profilepicture img {
  width: 32px;
  height: 32px;
  margin: 0px 0px 0px 0px;
}

.firstname {
  display: inline;
  white-space: nowrap;
  float: right;
  margin-top: 6px;
  margin-left: 5px;
}

.firstname p {
  margin: 0px;
}

.firstname img {
  width: 16px;
  height: 16px;
  margin: 0px 0px 0px 0px;
}

.firstnametext {
  float: left;
}

.firstnamedropdown {
  float: right;
  width: 16px;
  height: 16px;
}

.menu-account {
  display: none;
}

.mobile-menu {
  background-color: #000;
  visibility: hidden;
}