@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto+Condensed');

.header {
    background-color: #600;
    position: fixed;
    margin:0 auto;
    height: 85px;
    width: 100%;
    z-index: 150;
    box-shadow: 1px 5px 5px 0 rgba(0,0,0,.20);
}
  
.header img {
    margin: 20px 0 0 20px;
    width: 304px;
    height: 45px;
}

.logo {
    float: left;
}

.dropdown-content {
  margin-top:40px;
  margin-right: 10px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
background-color: #ddd
}

.show {
display:block;
}

.profilepicture{
float: left;
}

.profilepicture img{
width: 32px;
height: 32px;
margin: 0px 0px 0px 0px;
}

.firstname{
display: inline;
white-space: nowrap;
margin-left: 5px;
}
  
  .firstname p{
    margin: 0px;
  }
  
  .firstname img{
    width: 16px;
    height: 16px;
    margin: 0px 0px 0px 0px;
  }
  
  .firstnametext{
    float: left;
  }
  
  .firstnamedropdown{
    float:right;
    width: 16px;
    height: 16px;
  }

  .sidebar {
    font-family: 'Roboto Condensed', sans-serif;    
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 150;
    top: 85px;
    left: 0px;
    background-color: #2c3b41;
    color: #4b646f;
    overflow-x: hidden;
    border-right: 1px solid #656565;
    z-index: 2;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.20);
  }

  .sidebar a {
    background-color: #2c3b41;
    color: #b8c7ce;
    display: block;
    padding: 15px 12px 15px 20px;
    text-decoration: none;
    text-align: left;
  }
  
  .sidebar a:hover {
      background-color: #1a2226;
      color: white;
      border-left: 3px solid #b8c7ce;
      padding: 15px 12px 15px 17px;
  }
  
  .sidebar a.active {
      background-color: #1a2226;
      color: white;
  }