@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto+Condensed');

.html{
  height: 100%;
	width: 100%;
}

.body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FFF;
  height: 100%;
  width: 100%;
}

#header {
  position: fixed;
}

.header {
    background-color: #600;
    margin:0 auto;
    height: 85px;
    width: 100%;
    z-index: 150;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
    border-bottom: 1px solid #4a1717;
}

.header img{
  margin: 20px 0 0 10px;
  max-width:100%;
  max-height:100%;
}

.logo{
  float: left;
}

.mobile-menu{
  padding-top: 85px;
  background-color: #2c3b41;
  visibility: visible;
  height: 125px;
  box-shadow: 1px 5px 5px 0 rgba(0,0,0,.20);
}

.mobile-button{
  font-size: 25px;
  height: 40px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  float: left;
}

.menu-account{
  background-color: #1a2226;
  width: 100%;
  display:block;
  height: 40px;
}

.close-menu{
  display: inline;
}

.menuprofilepicture{
  padding-top: 4px;
  padding-left: 15px;
  float: left;
}

.menuprofilepicture img{
  width: 32px;
  height: 32px;
  margin: 0px 0px 0px 0px;
}

.menufirstname{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  line-height: 13px;
  white-space: nowrap;
  padding-top: 8px;
  text-align: left;
  padding-left: 55px;
}

.menufirstname p{
  margin: 0px;
}

.menufirstname img{
  width: 16px;
  height: 16px;
  margin: 0px 0px 0px 0px;
}

.firstnametext{
  float: left;
  font-weight: bold;
}

.menu-credits{

}

.credits-text{
  font-size: 10px;
}


.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 150;
  top: 85px;
  left: 0px;
  background-color: #2c3b41;
  color: #4b646f;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  border-right: 1px solid #656565;
  z-index: 2;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.20);
  display: none;
}

.sidebarOpen {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 150;
  top: 85px;
  left: 0px;
  background-color: #2c3b41;
  color: #4b646f;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  border-right: 1px solid #656565;
  z-index: 2;
  display: inline;
  white-space: nowrap;
}

.sidebarOpen a {
  background-color: #2c3b41;
  color: #b8c7ce;
  display: block;
  padding: 15px 12px 15px 20px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}

.sidebarOpen a:hover {
    background-color: #1a2226;
    color: white;
    border-left: 3px solid #b8c7ce;
    padding: 15px 12px 15px 17px;
}

.sidebarOpen a.active {
    background-color: #1a2226;
    color: white;
}

.main{
  padding-left: 0px;
  padding-top: 0px;
}

.container-fluid {
  padding-right: 0px;
}

.accountbar{
  visibility: hidden;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  color: #FFF;
  cursor: pointer;
}

.text-center{
  text-align:center;
  padding: 0 0 0 0;
}

.text-center-open{
  text-align: center;
  padding: 0 0 0 0;
  margin-left: 160px;
}



.dropdown-content {
    margin-top:40px;
    margin-right: 10px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #ddd
}

.show {
  display:block;
}

.profilepicture{
  float: left;
}

.profilepicture img{
  width: 32px;
  height: 32px;
  margin: 0px 0px 0px 0px;
}

.firstname{
  display: inline;
  white-space: nowrap;
  float: right;
  margin-top: 6px;
  margin-left: 5px;
}

.firstname p{
  margin: 0px;
}

.firstname img{
  width: 16px;
  height: 16px;
  margin: 0px 0px 0px 0px;
}

.firstnametext{
  float: left;
}

.firstnamedropdown{
  float:right;
  width: 16px;
  height: 16px;
}

.information-bar{
  text-align: center;
  background-color: #f1f1f1;
  font-size: large;
  padding: 10px;
}

.footer {
  position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
}

.content {
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.9),rgba(0,0,0,0.4)), url(img/campus.jpg) no-repeat center;
    background-size: cover;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    position: fixed;
    width: 100%;
}

.container{
  width: 40%;
  height: 100%;
  text-align: center;
  padding-top: 5%;
}

.container img{
  margin: 0 auto;
  display: block;
  padding-bottom: 30px;
}

.home{
  margin-top: 0px;
  padding-left: 0px;
  min-width: 300px;
}

.users{
  margin-top: 85px;
}

table.userTable {
  border: 1px solid #C2CFD6;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.userTable td, table.userTable th {
  border: 1px solid #C2CFD6;
  padding: 3px 2px;
}
table.userTable tbody td {
  font-size: 13px;
  color: #262626;
}
table.userTable thead {
  background: #F0F3F5;
  background: -moz-linear-gradient(top, #f4f6f7 0%, #f1f4f6 66%, #F0F3F5 100%);
  background: -webkit-linear-gradient(top, #f4f6f7 0%, #f1f4f6 66%, #F0F3F5 100%);
  background: linear-gradient(to bottom, #f4f6f7 0%, #f1f4f6 66%, #F0F3F5 100%);
  border-bottom: 1px solid #C2CFD6;
}
table.userTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #757575;
  border-left: 1px solid #C2CFD6;
}
table.userTable thead th:first-child {
  border-left: none;
}

table.userTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ADADAD;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 0px solid #D9D9D9;
}
table.userTable tfoot td {
  font-size: 14px;
}
table.userTable tfoot .links {
  text-align: right;
}
table.userTable tfoot .links a{
  display: inline-block;
  background: #939596;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.spottable{
  margin-top: 85px;
}

.spottableb{
  margin-top: 10px;
}


table.spotsTable {
  border: 1px solid #C2CFD6;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.spotsTable td, table.spotsTable th {
  border: 1px solid #C2CFD6;
  padding: 3px 2px;
}
table.spotsTable tbody td {
  font-size: 13px;
  color: #262626;
}
table.spotsTable thead {
  background: #F0F3F5;
  background: -moz-linear-gradient(top, #f4f6f7 0%, #f1f4f6 66%, #F0F3F5 100%);
  background: -webkit-linear-gradient(top, #f4f6f7 0%, #f1f4f6 66%, #F0F3F5 100%);
  background: linear-gradient(to bottom, #f4f6f7 0%, #f1f4f6 66%, #F0F3F5 100%);
  border-bottom: 1px solid #C2CFD6;
}
table.spotsTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #757575;
  border-left: 1px solid #C2CFD6;
}
table.spotsTable thead th:first-child {
  border-left: none;
}

table.spotsTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ADADAD;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 0px solid #D9D9D9;
}
table.spotsTable tfoot td {
  font-size: 14px;
}
table.spotsTable tfoot .links {
  text-align: right;
}
table.spotsTable tfoot .links a{
  display: inline-block;
  background: #939596;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}


.cardUserTitle{
  border: 1px solid #c2cfd6;
  width: 100%;
  height: 100%;
}

.cardUserTitle p{
  float: left;
  padding: 10px;
  border-right: 1px solid #c2cfd6;
  border-bottom: 1px solid #c2cfd6;

}

.currentspot{
  margin: 0 auto;
  width: 100%;
  border: 0px solid #c2cfd6;
  height: 100%;
}

.cardTitle{
  background-color: #f0f3f5;
  height: 40px;
  border-bottom: 1px solid #c2cfd6;
  text-align: left;
}

.cardIcon{
  float: left;
}

.cardText{

}

.cardTitle p{
  padding: 10px;
}

.cardBody{
 background-color: #FFF;
 padding: 10px;
}

.cardBodyPurchase{
 background-color: #FFF;
 padding: 0px;
}

.cardBodyFull{
 background-color: #FFF;
 height: 100%;
 padding: 10px;
}

.cardSpotInformation{
  background-color: #2c3b41;
  height: 72px;
  border: 1px solid #c2cfd6;
}

.cardSpotTimeImage{
  width: 80px;
  height: 70px;
  background: #1a2226 url("img/clock_image_mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.cardSpotTimeLeft{
  width: 156px;
  height: 136px;
  background-color: #1a2226;
}

.cardSpotTimeLot{
  text-align: left;
  color: #FFF;
  font-size: 14px;
  padding-top: 28px;
  padding-left: 85px;
}

.purchase{
  min-width: 300px;
  padding-left: 0px;
  margin-top: 0px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
}

#regForm {
  background-color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 7px;
  font-size: 20px;
  width: 100%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.tab p{
  border-bottom: 1px solid #e1e8ee;
  height: 50px;
padding: 10px 10px 0;
text-align: left;
}

.pay{
  width: 50%;
}


button {
  padding: 20px 90px 20px 100px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  width: 100%;
  background-color: #bbbbbb;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.floatleft, .floatright {
    float:left;
    width: 70%;
    height: 400px;
}

.floatright {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    width: 30%;
}

.form-group {
  margin: 10px;
}

.amountoftime{
  width: 100%;
  height: 100px;
}

.creditpackage{
  width: 100%;
  height: 100px;
}

.pickspot{
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.amt-time {
     list-style-type:none;
     padding:0;
}

.amt-credit {
     list-style-type:none;
     padding:0;
}

.amt-time li {
     float:left;
     margin: 0 0px 0 0;
     width: 25%;
     height:70px;
     position:relative;
}

.amt-time label, .amt-time input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.amt-time input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.amt-time input[type="radio"]:checked + label {
    background: #C2CFD6;
}

.amt-time label {
     padding:5px;
     border-top:1px solid #CCC;
     border-left:1px solid #CCC;
     border-bottom:1px solid #CCC;
     cursor:pointer;
    z-index:90;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.amt-credit label {
     padding:5px;
     border-top:1px solid #CCC;
     border-left:1px solid #CCC;
     border-bottom:1px solid #CCC;
     cursor:pointer;
    z-index:90;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.amt-time label.right{


     border-right:1px solid #CCC;
}

.amt-time label:hover {
     background:#DDD;
}

ul.tabs {
    margin: 0;
    padding: 0;
    margin: 0px;
    padding: 0px;
    background-color: #600;
    list-style: none;
    white-space: nowrap;
    color: #A9A9A9;
}
ul.tabs li{
  width: 50%;
  background: #560000;
	display: inline-block;
	padding: 10px 5px;
	cursor: pointer;
}

ul.tabs li.current {
    width: 50%;
    background: #660000;
    display: inline-block;
	color: white;
}

.tab-content {
    display: none;
    background: #660000;
    padding: 15px;
    border-radius: 0 0 15px 15px;
}

.tab-content.current{
	display: inherit;
}

input, button {
	border: 0;
  padding: 20px 90px 20px 100px;
}

.mainDiv {
	background: #fff;
	padding: 20px;
	width: 450px;
	margin: 0 auto;
	margin-top: 200px;
	box-shadow: 0 0 20px #333;
}

h1 {
	font-weight: 300;
	font-size: 24px;
}

textarea {
	border: 0;
	background: #fff;
	padding: 20px 0;
	outline: none;
	width: 100%;
	resize: none;
}

.elipseButton {
	background: #528bff;
	color: #fff;
	top: 50px;
	width: 64px;
	height: 64px;
	line-height: 38px;
	border-radius: 100%;
    margin-left: 15px;
}

.paymentbtns{
  overflow:auto;
  padding-top: 10px;
  padding-right: 17px;
  padding-left: 17px;
}

.formbtns{
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

.continue{
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

#spotNumber {
  font-family: 'Roboto Condensed', sans-serif;
	width: 95%;
	padding: 6.5px;
	font-size: 16px;
  border: 1px solid #7a7a7a;
  margin-top: 10px;
}

#lot {
  font-family: 'Roboto Condensed', sans-serif;
	width: 95%;
	padding: 8px;
	font-size: 16px;
}
