.body{
  background-color: #720000;

}

.header {
    background-color: #5E0001;
	
}

.header img{
  width: 100px;
  height: 100px;
}

.container{
  width: 40%;
  margin: 0 auto;
}

.floatleft, .floatright {
    float:left;
    width: 70%;
    height: 400px;
}

.floatright {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    width: 30%;
}

.form-group {
  margin: 10px;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
  white-space: nowrap;

}
ul.tabs li{
  width: 50%;
	background: none;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

    ul.tabs li.current {
        width: 50%;
        background: #efefef;
        display: inline-block;
		color: black;
    }

.tab-content {
    display: none;
    background: #efefef;
    padding: 15px;
	border-radius: 0px 0px 15px 15px;
}

.tab-content.current{
	display: inherit;
}
