@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto+Condensed');

.html {
    height: 100%;
    width: 100%;
}

h1,h3 {
	text-align: center;
	color: #787878;
}

#spotNumber {
	width: 49%;
	padding: 6.5px;
	font-size: 16px;
	border: 1px solid #7a7a7a;
}

#lot {
  font-family: 'Roboto Condensed', sans-serif;
	width: 50%;
	padding: 8px;
	font-size: 16px;
}

#lotA {
	text-align: left;
	float:left;
	padding-right: 25px;
}

#lotB {
	text-align: left;
	float: left;
}

#save {
	width: 10%;
	padding: 9px;
	font-size: 16px;
}


#pay
{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
}

#credit-card {
    font-family: 'Roboto Condensed', sans-serif;
    width: 360px;
    height: 400px;
    margin: 0 auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}

#form-head {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}

#form-body {
    height: 340px;
    padding: 30px 30px 20px;
}

#card-number,
#cvv-input input,
#month select,
#year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
    opacity: .7;
    color: #000;
}

#card-number,
#month select,
#year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}

#card-number {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}

#month select,
#year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background-position: 85% 50%;

}

    #month select {
        float: left;
    }

    #year select {
        float: right;
    }

#cvv-input input {
    float: left;
    width: 145px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: #fff;
    margin-bottom: 20px;
}

#paypal,
#submit-btn {
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    border-color: transparent;
    border-radius: 6px;
}

#submit-btn {
    margin-bottom: 10px;
    background: #7dc855;
}

#paypal a,
#submit-btn a {
    text-decoration: none;
    color: #fff;
}

#paypal {
    font-family: 'Roboto Condensed', sans-serif;
    background: no-repeat 65% 56% #009cde;
}

#save {
	width: 10%;
	padding: 9px;
	font-size: 16px;
}

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 50px;
}